$background: rgb(112, 7, 7);
$text-color: goldenrod;

header {
  background-color: $background;
  color: $text-color;
  text-align: center;
  padding: 5% 1% 1% 1%;
  border-bottom: 2px solid goldenrod;
  box-shadow: inset 5px -5px 20px black;
}

img {
  padding: 20px;
}

Form {
  background-color: $background;
}

.primaryModal {
  background-color: $background;
  color: $text-color;
  border-radius: 5px !important;
}

.modal-title {
  background-color: $background;
}

.modal-header {
  background-color: $background;
}

.modal-body {
  background-color: $background;
}

button.btn-close {
  background-color: goldenrod;
  border-radius: 3px;
}

button.btn-close :hover {
  background-color: goldenrod;
  border-radius: 5px;
}

.modal-content {
  color: $text-color;
  // -webkit-border-radius: 10px !important;
  // -moz-border-radius: 10px !important;
  // border-radius: 10px !important;
  border-radius: 20px;
}

#modalContainer-tab-login.active {
  background-color: goldenrod;
  color: #000;
}
#modalContainer-tab-login {
  color: goldenrod;
}

#modalContainer-tab-signup.active {
  background-color: goldenrod;
  color: #000;
}
#modalContainer-tab-signup {
  color: goldenrod;
}

.login-page {
  text-align: right;
  font-weight: 900;
}

.intro-text {
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  padding: 20px;
}

h5 {
  padding: 10px;
  animation: multicolor 5s infinite;
}

@keyframes multicolor {
  0% {
    color: #003049;
  }
  20% {
    color: #d62828;
  }
  40% {
    color: #f77f00;
  }
  60% {
    color: #fcbf49;
  }
  80% {
    color: #eae2b7;
  }
  100% {
    color: #003049;
  }
}

.carousel-container h3 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

@media (max-width: 900px) {
  .carousel {
    width: auto;
    height: auto;
  }
}

/* dimensions for trailer videos */
.video-box {
  position: relative;
  padding-bottom: 50%;
  padding-top: 10px;
  height: 0;
  overflow: hidden;
}

.video-box iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* end of dimensions for trailer videos */

.card-body {
  background-color: black;
}

.feed-header {
  text-align: center;
}

.post-box {
  background-color: black;
  padding-bottom: 3px;
  padding-top: 10px;
  padding-left: 12px;
  border-bottom: 2px solid $text-color;
}

.name-link {
  text-decoration: none;
  color: $text-color;
}

li {
  list-style: none;
  padding-bottom: 1%;
}

h3 {
  color: rgb(240, 193, 76);
}

main {
  background-color: $background;
  color: $text-color;
  padding-top: 5%;
  padding-bottom: 5%;
  box-shadow: inset -5px 5px 20px black;
  margin-bottom: -20px;
}

button {
  margin-top: 5%;
  box-shadow: 5px 5px 3px black;
  background-color: $background;
  color: $text-color;
  font-weight: bold;
  border: 2px solid goldenrod;
  border-radius: 5px;
}

button:hover {
  background-color: goldenrod;
  color: rgb(112, 7, 7);
  font-weight: bold;
  border: 3px solid rgb(112, 7, 7);
}

.footer {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #212529;
  font-weight: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $text-color;
  z-index: 10;
}

.footer p {
  color: white;
  text-align: center;
}

.card-text {
  color: $text-color;
}

.card-title.h5 {
  color: $text-color;
}
