$background: rgb(112, 7, 7);
$text-color: goldenrod;

header {
  background-color: $background;
  color: $text-color;
  text-align: center;
  padding: 1%;
  border-bottom: 2px solid goldenrod;
  box-shadow: inset 5px -5px 20px black;
}

Form {
  background-color: $background;
}

.primaryModal {
  background-color: $background;
  color: $text-color;
}

.modal-title {
  background-color: $background;
}

.modal-header {
  background-color: $background;
}

.modal-body {
  background-color: $background;
}

.modal-content {
  color: $text-color;
}

.login-page {
  text-align: right;
}

.intro-text {
  text-align: center;
}

.carousel-container h3 {
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

@media (max-width: 900px) {
  .carousel {
    width:auto;
    height:auto;
  }
}

/* dimensions for trailer videos */
.video-box {
  position: relative;
  padding-bottom: 50%;
  padding-top: 10px;
  height: 0;
  overflow: hidden;
}

.video-box iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* end of dimensions for trailer videos */

.card-body {
  background-color: black;
}

.feed-header {
  text-align: center;
}

.post-box {
  background-color: black;
  padding-bottom: 3px;
  padding-top: 10px;
  padding-left: 12px;
  border-bottom: 2px solid $text-color;
}

.name-link {
  text-decoration: none;
  color: $text-color;
}

li {
  list-style: none;
  padding-bottom: 1%;
}

h3 {
  color: rgb(240, 193, 76);
}

main {
  background-color: $background;
  color: $text-color;
  padding-top: 1%;
  padding-bottom: 10%;
  box-shadow: inset -5px 5px 20px black;
}

button {
  margin-top: 5%;
  box-shadow: 5px 5px 3px black;
  background-color: $background;
  color: $text-color;
  font-weight: bold;
  border: 2px solid goldenrod;
  border-radius: 5px;
}

button:hover {
  background-color: goldenrod;
  color: rgb(112, 7, 7);
  font-weight: bold;
  border: 3px solid rgb(112, 7, 7);
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #212529;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $text-color;
  z-index: 10;
}

<<<<<<< HEAD
.logo {
  padding-top: 40px;
  padding-bottom: 40px;
}

=======
.card-text {
  color: $text-color
}

.card-title.h5 {
  color: $text-color
}
>>>>>>> e5c1c9a219106d2c4a36302bc5f6463f1f8a1acd
