header {
  background-color: rgb(112, 7, 7);
  color: goldenrod;
  text-align: center;
  padding: 1%;
  border-bottom: 2px solid goldenrod;
  box-shadow: inset 5px -5px 20px black;
}

header h1 {
  border-bottom: 2px solid goldenrod;
  margin-left: 35%;
  margin-right: 35%;
  box-shadow: 5px 5px 10px 3px black;
}


main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(112, 7, 7);
  color: goldenrod;
  padding-top: 1%;
  padding-bottom: 30%;
  box-shadow: inset -5px 5px 20px black;
  width: 100%;
}

h2 {
  margin-left: 5%;
}

select {
  margin-left: 1%;
}

button {
  margin-top: 5%;
  box-shadow: 5px 5px 3px black;
  background-color: rgb(112, 7, 7);
  color: goldenrod;
  font-weight: bold;
  border: 2px solid goldenrod;
  border-radius: 5px;
}

button:hover {
  background-color: goldenrod;
  color: rgb(112, 7, 7);
  font-weight: bold;
  border: 3px solid rgb(112, 7, 7);
}

footer {
  text-align: center;
  height: 50px;
  justify-content: center;
  border-top: 2px solid goldenrod;
}

.media-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  white-space: nowrap;
  text-align: left;
  font-size: large;
}

/*#foundDetails {
    margin: 2%;
    padding: 10px;
    text-align: center;
    width: 15%
  }
  
  #foundVotes {
    margin: 2%;
    padding: 10px;
    text-align: center;
    width: 15%
  }
  
  /* .trailer-details {
    flex-direction: row;
  } */

.searchParam {
  width: max-content;
  margin-left: 1%;
  display: flex;
}

.selections {
  display: flex;
}

/* #foundTrailer {
    height: 400px;
    width: 400px;
    border: 2px solid black;
  } */

/* #foundDetails {
    height: 400px;
    width: 400px;
    border: 2px solid black;
  } */

/* #foundReviews {
    height: 400px;
    width: 400px;
    border: 2px solid black;
  } */

/* #foundVotes {
    height: 400px;
    width: 400px;
    border: 2px solid black;
  } */

/* #moviePoster {
    height: 50%;
    width: 50%;
    margin-left: 1%;
    border: 2px solid goldenrod;
    box-shadow: 3px 3px 3px 3px black;
  } */

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4caf50;
  color: white;
}

#side-bar-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  margin-left: 10%;
}
